/* Category page */
.templateCollection {
    .boxed-wrapper #main-content {  
        .col-lg-3 {
            position: relative;
            @media (min-width: 992px) {
                > *  {                        
                    padding: 111px 25px 95px 0;            
                }
                &:after {
                    content: '';
                    background: #e5e5e5;
                    width: 50vw;
                    z-index: -1;
                    @include ab(0, n, 0, 15px);
                }
            }        
        }
    }  
    .sectionstatic-bottom-banner {
        margin-top: 0;
    }
}
.section_content-wrapper {
    @media (min-width: 992px) {
        margin-top: 118px;
    }
    .section_content-body {
        margin-bottom: 25px;
    }
    #col-main {
        > .row {
            @media (max-width: 767px) {
                margin-left: -10px;
                margin-right: -10px;
                .product-section {
                    padding-left: 10px;
                    padding-right: 10px;
                }
            }
        }
    }
}
.filter-sidebar--active {
    overflow: hidden; 
    @media (max-width: 991px) {
        .boxed-wrapper:after {
            @include black-bg-open;
        }  
        .collection-sidebar {
            transform: translate(0, 0);  
        }  
    }
}
.collection-sidebar {
    @media (max-width: 991px) { 
        @include fixed(0, 0, 0, n); 
        width: 100%; 
        max-width: 375px;
        background: var(--body-bg-color);
        padding: 52px 28px;
        z-index: layer(sidebar);
        transform: translate(-100%, 0);
        transition: all 0.5s ease-in-out; 
        overflow-x: hidden;
        overflow-y: auto;
        @include custom-scrollbar;
    }    
    .collection-filter-title {
        margin-bottom: 44px; 
        display: flex;
        align-items: center;
        justify-content: center; 
        @media (min-width: 992px) {
            justify-content: flex-start; 
        }
        .filter-icon {
            margin-right: 16.21px;
            display: flex;
            @media (min-width: 768px) {
                margin-right:  52.5px;
            }
        }
        h3 {
            font-size: 30px;
            font-weight: 700;            
            line-height: 36px;            
            @include font-heading;
        }
        .filter-toggle {
            cursor: pointer;
            @include ab(19px, n, n, 23px);
            @media (min-width: 992px) {
                display: none;
            }
            svg path {
                fill: var(--body-link); 
            }
        }
    }
    .collection-remove-filters {
        margin-bottom: 33px;
        .collection-active-tags {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            list-style: none;            
            li {
                padding: 0 6px 12px;
                line-height: 24px;
                position: relative;
                a {
                    border: 1px solid var(--body-color);
                    display: flex;
                    align-items: center;
                    line-height: 24px;
                    padding: 2px 28px 2px 16px;
                    background: #fff;
                    font-size: calc(var(--body-font-size) - 6px);
                    color: var(--body-color);                    
                }
                .svg__ui {
                    display: flex;
                    @include ab(7px, n, n, 18px);
                    svg {
                        width: 10px;
                    }
                }
            }
        }
        .clear-all {
            margin: 0 auto;
            text-align: center;
            a {
                text-transform: uppercase;
                font-size: calc(var(--body-font-size) - 4px);
                font-weight: 500;
                display: inline-block;
                line-height: 21.6px;
                padding: 7px 0;
                letter-spacing: -1.5px;
                border-bottom: 1px solid var(--body-color);
                @include font-custom;
                @media (hover : hover) {
                    &:hover {
                        border-bottom-color: var(--body-link-hover);
                    }
                }
            }
        }
    }
    .collection-filter {
        &:not(:last-child):not(:empty) {                        
            margin-bottom: 40px;  
        }
        .filter-group {            
            &.dropdownUI {
                user-select: none;
                position: relative;
                .filter-title {
                    padding-right: 40px;
                    margin-bottom: 0;
                    position: static !important;
                }
                .tags-list {
                    padding-top: 25px;
                }
                .dropdown-trigger {
                    @include ab(0, n, n, 0);
                    cursor: pointer;
                    span {
                        height: 21px;
                        line-height: 21px;                       
                        align-items: center;
                        display: flex;
                        justify-content: flex-end;
                    }
                    .dropdown-icon--close {
                        display: none;
                    }
                }  
                .dropdown-listing {
                    max-height: 0;
                    overflow: hidden;
                    transition: max-height 0.15s ease-in-out;       
                }
                &.active {                    
                    .dropdown-icon--close {
                        display: flex;
                    }
                    .dropdown-icon--open {
                        display: none;
                    }
                    .dropdown-listing {
                        transition: max-height 0.35s ease-in-out;
                        max-height: 100%;
                    }
                } 
            }
        }
        .filter-title {
            font-size: 18px;
            font-weight: 500;
            text-transform: uppercase; 
            line-height: 21.6px;            
            @include font-custom;
            margin-bottom: 25px;
        }
        ul {
            li {
                @include list-style-reset;
                position: relative;
                background: none;
                &:not(:last-child) {
                    margin-bottom: 15px;
                }
                a { 
                    @include padding-end(30px);
                    line-height: 24px;
                    display: block;
                    position: relative;                    
                    @media (hover : hover) {
                        &:hover {
                            color: var(--link-color);
                        }
                    }
                }
                &:after {                    
                    @include ab(7px, n, n, 5px); 
                    @include visibility-hidden;                    
                    content: '';
                    width: 10px;
                    height: 10px;
                    background: var(--main-color);
                    border-radius: 50%;
                    pointer-events: none;
                }
                &:before {
                    @include ab(2px, n, n, 0);
                    content: "";                        
                    width: 20px;
                    height: 20px;
                    border: 2px solid var(--main-color);                        
                    border-radius: 50%;
                    pointer-events: none;
                }                           
                &.filter-color {
                    &:before {
                        border-color: currentColor;
                    }
                    &:after {
                        background: currentColor;                           
                    }                     
                    &.c-white {   
                        &:before {
                            border-color: var(--body-color);
                        }                    
                        &:after {
                            background: var(--body-color);
                        } 
                    } 
                } 
                &.active {
                    &:after {
                        @include visibility-visible;
                    } 
                    a {
                        color: var(--body-link);
                    } 
                }
            }
        }
    }
}
.section-collection-template {   
   .collection-header {
       background-position: center;
       background-repeat: no-repeat;
       background-size: cover;
       position: relative;
       .collection-header-banner {
           + .collection-header-content {  
                padding: 64px 0 54px;                                    
                @media (min-width: 992px) {
                    @include ab(50%, 0, n, n);
                    width: 100%;
                    transform: translateY(-50%);      
                    padding: 0;              
                }
            }
       }
       .collection-header-content {  
            padding: 40px 0;                   
           .filter-mobile-toogle {
               display: flex;
               width: 100%;
               justify-content: center;
               margin-top: 40px;
               @media (min-width: 768px) {
                   justify-content: flex-start;
               }
           }
           .filter-toggle {
                cursor: pointer;  
                font-size: calc(var(--body-font-size) - 2px);
                font-weight: 700;
                line-height: 18px;
                display: flex;                
                align-items: center;
                @include font-heading;
                .filter-icon {
                    margin-right: 16.21px;
                }
                p {
                    margin: 0;
                }
            }
       }
       .container {           
           > * {
               padding: 0 15px;
               text-align: center;
               color: inherit;
               @media (min-width: 768px) {
                text-align: left;
               }
               @media (min-width: 992px) {
                   padding: 0 75px;
                   max-width: 650px;                   
               }
           }
       }
       .collection-title {
           @include font-heading;
           line-height: 35.68px;
           margin-bottom: 20px;
       }
   }
}
.collection-toolbar-inner {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;  
    @media (min-width: 768px) {
        display: none;
    }  
    .toolbar_view-list {
        display: flex;
        align-items: center;
        justify-content: center;
        li {
            @include list-style-reset;
            &:not(:last-child) {
                @include margin-end(12px);
            }
            a {
                width: 36px;
                height: 36px;
                border: 1px solid var(--body-border-color);
                border-radius: 50%;
                display: flex;
                align-items: center;
                justify-content: center; 
                svg path {
                    fill: var(--body-link);
                }  
                &.active {
                    background: var(--btn1-bg-cl);
                    border-color: var(--btn1-border-cl); 
                    svg path {
                        fill: var(--btn1-cl);  
                    }
                }
            }
            .svg__ui {
                display: flex;
                align-items: center;
                justify-content: center; 
            }
            &.view-item {
                display: none;
            }
            .filter-toggle {
                cursor: pointer;  
                font-size: calc(var(--body-font-size) - 2px);
                font-weight: 700;
                line-height: 18px;
                @include font-heading;
            }
        }
    }
    .collection-page-view {
        flex: 1;
        padding: 0 15px;
        text-align: center;
        display: none;         
        p {
            margin: 0;
        }
    }
    .collection-sort {
        position: relative;
        display: none;
        > a {
            color: var(--body-link);
            font-size: var(--body-font-size);
            line-height: 42px; 
            display: flex; 
            align-items: center;
            justify-content: center;
            svg path {
                stroke: var(--body-link);
            }
            .expand {
                @include margin-start(8px);
                transform: rotate(180deg);
            }
        }
        > ul {
            @include ab(100%, auto, n, 0);
            background: var(--body-bg-color);
            z-index: layer(sort-by);
            min-width: 200px; 
            padding: 5px 0; 
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
            animation: mmfadeIn .5s ease-in-out;
            @include visibility-hidden;
            li {
                @include list-style-reset;
                padding: 5px 15px;   
                &.active >a {
                    color: var(--body-link-hover);
                } 
            }
        }
        &.active ul {
            @include visibility-visible;   
        }
        &:hover {
            @media (hover: hover) {
                >a {
                    color: var(--body-link-hover);
                    svg path {
                        stroke: var(--body-link-hover);
                    }
                }
                >ul {
                    @include visibility-visible; 
                }
            }
        }
    }
}
.home-filter-page  {
    @include main-bt-spacing;
    .progress-bar {
        position: relative;
        max-width: 570px;
        margin: 80px auto;  
        padding: 0 15px;      
        .progress-value {
            background: #F2F2F4;
            height: 10px;
            width: 100%;
        }
        .progress-percent {
            @include ab(0, 0, n, n);
            height: 100%;
            background: var(--btn1-bg-cl);
        }
    }
    .mm-step {
        position: relative;       
        &.step-1 {
            .text-content {
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
                h1 {
                    color: #fff;
                    font-size: 36px;
                    line-height: 29.91px;
                    letter-spacing: -1px;
                    margin-bottom: 40px;
                    @media (min-width: 768px) {
                        font-size: 60px;
                        line-height: 59.46px;
                    }
                }
                .btn {                    
                    padding: 17px 15px;
                    width: 100%;
                    max-width: 336px;
                    font-size: calc(var(--body-font-size) - 4px);
                    font-weight: 500;
                    letter-spacing: 0;
                    @include font-custom;
                }
            }
        } 
        .step-heading {
            text-align: center;
            margin: 60px auto;
            font-size: 36px;
            line-height: 35.68px;
            letter-spacing: -1.5px;
        }
    }   
    .filter-item {
        margin-bottom: 40px;
        text-align: center;
        > button {
            position: relative;
            display: block;
            cursor: pointer;
            .filter-name {
                color: #fff;
                font-size: 30px;
                line-height: 36px;
                font-weight: 700;
                padding: 40px 30px;
                @include font-heading;
            }
        }
        .filter-description {
            padding: 23px 0 0;
            p {
                margin: 0;
            }
        }
    } 
}
/* End Category page */
