@mixin ab($t, $l, $b, $r) {
    position: absolute;    
    @if $l != n { left: $l; }
    @if $t != n { top: $t; }
    @if $r != n { right: $r; }
    @if $b != n { bottom: $b; }
}
@mixin fixed($t, $l, $b, $r) {
    position: fixed;
    @if $l != n { left: $l; }
    @if $t != n { top: $t; }
    @if $r != n { right: $r; }
    @if $b != n { bottom: $b; }    
}
@mixin placeholder {
    &::-webkit-input-placeholder {@content}
    &:-moz-placeholder           {@content}
    &::-moz-placeholder          {@content}
    &:-ms-input-placeholder      {@content}
}
@mixin border-inline-start($width, $style, $color) {
    border-inline-start-width: $width;
    border-inline-start-style: $style;
    border-inline-start-color: $color;
}  
@mixin border-inline-end($width, $style, $color) {
    border-inline-end-width: $width;
    border-inline-end-style: $style;
    border-inline-end-color: $color;
}
@mixin padding-start($value) {
    -webkit-padding-start: $value; 
        -moz-padding-start: $value;
            padding-inline-start: $value;
}
@mixin padding-end($value) {
    -webkit-padding-end: $value; 
        -moz-padding-end: $value;
            padding-inline-end: $value;
}
@mixin margin-start($value) {
    -webkit-margin-start: $value;
        -moz-margin-start: $value;
            margin-inline-start: $value;
}
@mixin margin-end($value) {
    -webkit-margin-end: $value;
        -moz-margin-end: $value;
            margin-inline-end: $value;
}
@mixin list-style-reset {
    list-style: none;
}
@mixin font-body {
    //font-family: var(--ff-body);
    font-family: "Helvetica Neue ME";
}
@mixin font-heading {
    // font-family: var(--ff-heading);
    font-family: "Interstate";
}
@mixin font-custom {
    font-family: "Sackers Gothic Std";
}
@mixin point-event {
    pointer-events: none;     
}
@mixin point-cursor {
    cursor: pointer;
}
@mixin visibility-hidden {
    visibility: hidden;   
    opacity: 0;
}
@mixin visibility-visible {
    visibility: visible;
    opacity: 1;
}  
@mixin transition {
    transition: all 0.35s ease-in-out 0s;
}  
@mixin custom-scrollbar {
    &::-webkit-scrollbar-track {
        box-shadow: inset 0 0 6px var(--body-color);
        -webkit-box-shadow: inset 0 0 var(--body-color);
        background-color: var(--body-color);
        border-radius: 5px;
    }
    &::-webkit-scrollbar {
        width: 4px;
        background-color: var(--body-color);
        border-radius: 5px;
    }
    &::-webkit-scrollbar-thumb {
        background-color: var(--body-link-hover);
        border-radius: 5px;
    }
}
@mixin product-title {
    font-size: calc(var(--card-title) - 6px); 
    line-height: calc(var(--card-title) - 6px);
    font-weight: var(--body-font-weight);                             
    font-weight: 700;    
    margin-bottom: 13px;  
    @include font-heading;                      
    @media (min-width: 768px) {                                
        font-size: var(--card-title); 
        line-height: var(--card-title);
        margin-bottom: 25px;
    }   
}
@mixin black-bg {
    @include fixed(0, 0, 0, 0);
    background: rgba(0, 0, 0, 0.5);  
    width: 100vw;
    height: 100vh;   
    z-index: -1;
    @include visibility-hidden;       
    transition: opacity 0.4s cubic-bezier(0,0,.2,1), visibility 0.4s cubic-bezier(0,0,.2,1); 
}
@mixin black-bg-open {
    z-index: layer(popup-bg-black);    
    @include visibility-visible; 
}
@mixin icon-check-white {
    content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='10' viewBox='0 0 12 10'%3E%3Cpath fill='white' d='M12 1.74109L4.2672 10L0 5.42655L1.63303 3.68849L4.27004 6.51477L10.3698 0L12 1.74109Z'%3E%3C/path%3E%3C/svg%3E");                        
}
@mixin icon-check-black {
    content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='10' viewBox='0 0 12 10'%3E%3Cpath fill='grey' d='M12 1.74109L4.2672 10L0 5.42655L1.63303 3.68849L4.27004 6.51477L10.3698 0L12 1.74109Z'%3E%3C/path%3E%3C/svg%3E"); 
}
@mixin custom-width {
    max-width: 550px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}
@mixin top-spacing {
    text-align: center;
    margin-bottom: 30px; 
    margin-top: 35px;        
    @media (min-width: 768px) {
        margin-bottom: 64px;
        margin-top: 65px;
    }
}
@mixin main-top-spacing {
    margin-top: 35px;        
    @media (min-width: 768px) {        
        margin-top: 65px;
    }
}
@mixin main-bt-spacing {
    margin-bottom: 55px;        
    @media (min-width: 768px) {        
        margin-bottom: 120px;
    }
}
%transition-img {
    transition: transform 8s cubic-bezier(0.25, 0.46, 0.45, 0.94), -webkit-transform 8s cubic-bezier(0.25, 0.46, 0.45, 0.94);       
}
%image-after {
    content: '';
    border: 2px solid #fff;
    @include ab(20px, 20px, 20px, 20px);
}
@keyframes fa-spin { 
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(359deg);
		transform: rotate(359deg);
	}
}
@keyframes mmfadeIn {
    from { 
        opacity: 0; 
    }
    to {
        opacity: 1;
    }
}   
@keyframes animation-top-bottom {  
    0% {
        opacity: 0;
        transform: translate(0, -30px); 
    } 
    100% { 
        opacity: 1;
        transform: translate(0, 0);  
    }
}      
@keyframes animation-right-left {
    from {
        opacity: 0;
        transform: translateX(670px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}  
@keyframes animation-left-right {
    from {
        opacity: 1;
        transform: translateX(0);
    }
    to {
        opacity: 0;
        transform: translateX(670px);
    }
}  
@keyframes animation-loading1 {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}
@keyframes animation-loading2 {
    0% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(14px, 0); 
    }
} 
@keyframes animation-show-loading2 {
    0% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(8px, 0); 
    }
} 
@keyframes animation-loading3 {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(0);
    }
}

// manage z-index
@function layer($name) {
    @if map-has-key($layer, $name) {
        @return map-get($layer, $name);  
    }
    @warn "The key #{$name} is not in the map ’$layer’";
    @return null;
};
$layer: (  
    header-fixed: 991,
    dropdown-menu: 100,
    popup-bg-black: 992, 
    popup-content: 1001,      
    tooltip: 2,
    backtotop: 409,
    control-button: 1, 
    search-result: 9,
    sort-by: 1,
    sidebar: 1002,
);
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap');

@import url(//db.onlinewebfonts.com/c/95cecf452d3208890088a5b4c19c7ecf?family=Helvetica+Neue+ME);
@font-face {font-family: "Helvetica Neue ME"; src: url("//db.onlinewebfonts.com/t/95cecf452d3208890088a5b4c19c7ecf.eot"); src: url("//db.onlinewebfonts.com/t/95cecf452d3208890088a5b4c19c7ecf.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/95cecf452d3208890088a5b4c19c7ecf.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/95cecf452d3208890088a5b4c19c7ecf.woff") format("woff"), url("//db.onlinewebfonts.com/t/95cecf452d3208890088a5b4c19c7ecf.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/95cecf452d3208890088a5b4c19c7ecf.svg#Helvetica Neue ME") format("svg"); }

@import url(//db.onlinewebfonts.com/c/d93d9274dd628a112aadb4306542ef89?family=Interstate);
@font-face {font-family: "Interstate"; src: url("//db.onlinewebfonts.com/t/d93d9274dd628a112aadb4306542ef89.eot"); src: url("//db.onlinewebfonts.com/t/d93d9274dd628a112aadb4306542ef89.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/d93d9274dd628a112aadb4306542ef89.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/d93d9274dd628a112aadb4306542ef89.woff") format("woff"), url("//db.onlinewebfonts.com/t/d93d9274dd628a112aadb4306542ef89.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/d93d9274dd628a112aadb4306542ef89.svg#Interstate") format("svg"); }

@import url(//db.onlinewebfonts.com/c/5812e9d6ae4f58c53ad038ebc36f13dc?family=Sackers+Gothic+Std);
@font-face {font-family: "Sackers Gothic Std"; src: url("//db.onlinewebfonts.com/t/5812e9d6ae4f58c53ad038ebc36f13dc.eot"); src: url("//db.onlinewebfonts.com/t/5812e9d6ae4f58c53ad038ebc36f13dc.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/5812e9d6ae4f58c53ad038ebc36f13dc.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/5812e9d6ae4f58c53ad038ebc36f13dc.woff") format("woff"), url("//db.onlinewebfonts.com/t/5812e9d6ae4f58c53ad038ebc36f13dc.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/5812e9d6ae4f58c53ad038ebc36f13dc.svg#Sackers Gothic Std") format("svg"); }