.horizontal-menu .main-menu > li[aria-expanded=true] {
    >.megaMenu-container {
        display: block; 
        animation: none !important;        
        @include visibility-visible;
    }
}
.shopify-section[data-shopify-editor-section] .section-inner .mm-step {    
    transform: scale(1);
}
.section-inner .mm-step[data-shopify-editor-block] {
    transition: none !important;     
    transform: scale(1);
}