/* Product page */
.templateProduct {
    .boxed-wrapper #main-content {
        margin-top: 0;
    }
    #breadcrumb {
        background: #f7f7f7;
    }       
    [data-count="0"] .stamped-summary-starrating i:before {
        color: var(--rating-star-empty-color);
    }
    .stamped-form-review-rating a {
        color: var(--rating-star-color);     
        &:hover {
            color: var(--rating-star-color);     
        }
    }
    .stamped-container {
        @include font-body;
    }
    .product-page-reviews--title {
        @include font-heading;
        font-size: 30px;
        line-height: 36px;
        font-weight: 700;      
        margin:  30px 0 0;  
        text-align: center;
        @media (min-width: 768px) {
            margin-top: 40px;
        }
    }
    .stamped-container[data-count="0"] .stamped-empty-state:before {
        color: var(--rating-star-color);   
    }
    div[data-count="0"] .summary-overview, div[data-widget-style*=standard][data-count="0"] .summary-overview {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto 15px;
    }
    .stamped-summary-actions-newquestion, .stamped-summary-actions-newreview {
        @media (max-width: 480px) {
            margin-bottom: 20px;
        }
    }
    #stamped-main-widget {
        margin: 0;
    }    
    .stamped-form-label {
        font-size: calc(var(--body-font-size) - 4px);
        color: var(--body-color);
        + .stamped-form-input {
            text-transform: none;            
        }
    }
    input.stamped-form-input-email, 
    input.stamped-form-input-text,
    .stamped-form-input-textarea {
        padding: 5px 15px;
        font-size: calc(var(--body-font-size) - 4px);
        border: none;
    }
    .stamped-messages .stamped-thank-you {
        padding: 0;
        border: none;
        margin-top: 40px;
    }
    .stamped-messages .stamped-share-links a {
        display: inline-block;
    }
    p.stamped-review-content-body {
        font-size: calc(var(--body-font-size) - 4px);
    }
    .stamped-review-header-title {
        margin-bottom: 5px;
        text-transform: uppercase;
        font-size: 12px;
        letter-spacing: 0.18em;
    }
    .stamped-summary-actions-newquestion:before, 
    .stamped-summary-actions-newreview:before, 
    .stamped-summary-actions-mobile-filter i:before, 
    .stamped-summary-actions-clear:before {
        color: var(--body-link-hover);
    }
    ul.stamped-tabs li.active {
        color: var(--body-link-hover) !important;
        border-color: var(--body-link-hover) !important;
    }
    .summary-rating-bar > div,
    .stamped-review-avatar {
        background: var(--body-link-hover) !important;
    }
}
.section-product-template {
    padding-top: 21px; 
    background: #f7f7f7;
    margin-bottom: 50px;
    overflow: hidden;
    @media (min-width: 768px) {
        padding-top: 30px;
    }
    .product-page-header {
        margin-bottom: 60px;
    }
    .product-description {
        .product__toggle-content {
            line-height: 25.2px;  
            overflow: hidden;
            p, ul {
                margin: 0 0 20px; 
            }             
            ul {
                list-style: none;
                li {
                    position: relative;
                    padding-left: 25px;
                    margin: 0 0 15px;
                    &:before {
                        content: '';
                        width: 4px;
                        height: 4px;
                        border-radius: 50%;
                        background: var(--body-link-hover);
                        @include ab(12px, 5px, n, n);
                    }
                }
            }
            ol {
                margin-left: 25px;
                list-style: decimal outside none;
            }
            table {
                tr {
                    &:first-child {
                        td {
                            padding-top: 0;
                        }
                    }
                    &:not(:last-child) {
                        td {
                            border-bottom: 1px solid rgba(0, 0, 0, .1);
                        }
                    }
                }
                td {
                    padding: 18px 10px;                    
                    font-size: calc(var(--body-font-size) - 4px);
                    &:first-child {
                        padding-left: 0;
                        width: 40%;
                        @media (min-width: 600px) {
                            width: 248px;
                        }
                    }
                }
            }
        }
        &:not(.product-description-tab-pane) {
            .product__toggle-head {
                display: none;
            }
            .product__toggle-nav {
                margin: 0 0 20px;
                font-size: calc(var(--body-font-size) - 4px);                
                line-height: 22.4px;
                font-weight: 600;
                text-transform: uppercase;
                a {
                    color: var(--body-link);
                }  
            }
            .product__toggle-mobile .expand {
                display: none;
            } 
        }   
    }
    .product-description-tab-pane {        
        .product__toggle {      
            .product__toggle-head {
                display: flex;
                align-items: center;
                margin: 0 0 25px;
                @media (min-width: 768px) {
                    margin-bottom: 38px;                                                  
                }
            }            
            .product__toggle-nav {
                margin: 0 15px 0 0;
                font-size: 11px;
                line-height: 13.2px;
                font-weight: 700;
                text-transform: uppercase;
                text-align: start;      
                @media (max-width: 767px) {
                    font-family: "Sackers Gothic Std";  
                    letter-spacing: 0.18em;  
                    font-weight: 800;                                  
                }
                @media (min-width: 768px) { 
                    letter-spacing: 0.18em;
                    font-size: 16px;
                    line-height: 19.54px;
                    margin-right: 44px;                    
                }
                a {
                    color: var(--body-link);
                    position: relative;
                    display: block;
                    padding: 0 0 8px;                    
                    &:after {
                        content: '';
                        height: 2px;
                        width: 0;
                        background: var(--body-link-hover);
                        @include transition;
                        @include ab(n, 50%, 0, 50%);
                    }
                }
                &.active {                    
                    a {
                        color: var(--body-link-hover);
                        &:after {
                            width: 100%;
                            left: 0;
                            right: 0;
                        }
                    }
                }
                &:hover {
                    @media (hover: hover) {                       
                        a {
                            color: var(--body-link-hover);
                            &:after {
                                width: 100%;
                                left: 0;
                                right: 0;
                            }
                        }  
                    }
                }
            } 
            .product__toggle-body {
                width: 100%;                  
            }
            .product__toggle-mobile {
                position: relative;                 
                @media (min-width: 768px) {
                    display: none;  
                }
                &:not(:first-child) {
                    padding-top: 15px;
                    border-top: 1px solid var(--body-border-color); 
                    .expand {
                        padding-top: 15px;
                    } 
                }
                .product__toggle-nav {
                    width: 100%; 
                    a {
                        width: 100%;
                        display: block;
                    }
                    &.active + .expand {
                        .svg__ui {
                            transform: rotate(180deg);
                        } 
                        svg path {
                            stroke: var(--body-link-hover);
                        }  
                    } 
                }
                .expand {
                    @include ab(0, n, 0, 0); 
                    text-align: center;
                    width: 20px;
                    z-index: -1;  
                    display: flex;
                    align-items: center;
                    justify-content: center; 
                    .svg__ui {
                        display: block; 
                        transition: transform 0.35s ease-in-out; 
                    }
                    svg path {
                        stroke: var(--body-link);
                    }
                }
            }
            .product__toggle-item {
                display: none;
                &.active {
                    display: block; 
                }
            }
        }
    }
    /* Product review */
    #shopify-product-reviews {
        .btn-primary {
            color: var(--btn1-cl);
            background: var(--btn1-bg-cl);
            border: var(--btn1-border-width) solid var(--btn1-border-cl); 
            &:hover {
                @media (hover: hover) {
                    color: var(--btn1-hover-cl);
                    background: var(--btn1-hover-bg-cl);
                    border-color: var(--btn1-hover-border-cl);
                }   
            }
        }
    }   
    /* End product review */
}
/* end product page */